@import "~bootstrap/scss/bootstrap";

// @font-face {
//   font-family: 'Montserrat';
//   src: local('Montserrat'), url(./fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
// }

body {
  font-size    : .9rem;
  background-color: #ffffff;
  padding-top: 5px;
  // font-family: Montserrat;
  // background: linear-gradient(#fff9e6, #dde6f1);
}

h5 {
  font-family: Ubuntu;
}

a {
  color: #17a2b8;
}

.app-height {
  height: 100vh;
}

// .main-row {
//   padding-top: 70px;
// }


.feather {
  width         : 16px;
  height        : 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  // margin-top: 20px;
  position        : fixed;
  top             : 0;
  bottom          : 0;
  left            : 0;
  z-index         : 10000;
  /* Behind the navbar */
  padding         : 0 48px 0 0;
  /* Height of navbar */
  box-shadow      : inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #3A6262 !important;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position   : relative;
  top        : 0;
  height     : calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x : hidden;
  overflow-y : auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color      : #bbc9c9;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color       : #999;
}

.sidebar .nav-link.active {
  color: #8b95a1;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size     : .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  // padding-top: .75rem;
  // padding-bottom: .75rem;
  font-size          : 1rem;
  // background-color: rgba(0, 0, 0, .25);
  // box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top  : .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding      : .75rem 1rem;
  border-width : 0;
  border-radius: 0;
}

.form-control-dark {
  color           : #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color    : rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow  : 0 0 0 3px rgba(255, 255, 255, .25);
}

.fade {
  @include transition($transition-fade);

  &:not(.show) {
    opacity: 0;
  }
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  position: relative;
  height  : 0;
  overflow: hidden;
  @include transition($transition-collapse);
}

.badge-order {
  margin-right: 5px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.badge-reload {
  margin-left: 5px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.button-order {
  padding: 0.10rem 0.40rem;
}

.badge-news-amount {
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.nav-main-page .active {
  border-left: 5px solid #A38D61;
}

#popover-positioned-bottom-current-query {
  width: 100%;
}

#popover-positioned-bottom-current-query input {
  width: 100%;
}