.digest-component {
  margin-top: 25px;
  text-align: center;
}

.digest-key-body {
  text-align: justify;
}

.list-group-item {
  background-color: #f4f2f1;
}

.digest-key-header {
  color: #ad7a55;
}

.digest-key-header:hover {
  color: #ad7a55;
  text-decoration-color: #ad7a55;
}

.digest-items {
  text-align: justify;
}