.informportrait-component {
  margin-top: 25px;
  text-align: center;
}

.diagram-badge-order {
  margin: 0 0 0 0.25rem;
}

.informportrait-component .keywords-list {
  text-align: justify;
}

.keywords-item {
  padding-left: 2rem;
  padding-top: 0;
  padding-bottom: 0;
}

.keywords-kw {
  padding-top: 0;
  padding-bottom: 0;
}

.keywords-item:hover {
  cursor: pointer;
}

.keywords-kw:hover {
  cursor: pointer;
}