.auth-form {
  width: 100%;
  max-width: 330px;
  padding: 30px;
  margin: auto;
}

.auth-container {
  text-align: center;
  height: 100vh;
  background-color: #dad9d8;
  // background: linear-gradient(#ffe4c4, #dde6f1);
  // background-color: bisque;
}

.auth-form-control {
  margin-bottom: 5px;
}

.error-toast {
  margin-top: 10px;
}