.help-page .row {
  margin-top: 30px;
}

.nav-help-page .nav-item {
  background-color: #f4f2f1;
  border-radius: 5px;
  margin-bottom: 5px;
}

.nav-help-page .nav-item:hover {
  background-color: #ffffff;
}

.nav-help-page .nav-link:hover {
  color: #212529;
}

.nav-help-page .active {
  border-right: 3px solid #48a2b8;
}

.help-page-container > p {
  text-align: justify;
}