.user-cab-info {
  border-radius        : 10px 10px 10px 10px !important;
  -moz-border-radius   : 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
  border               : 0px solid #000000 !important;
  background-color     : #ffffff;
  padding              : 9px;
  margin-bottom        : 15px;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.user-cab-info h5 {
  text-align: center;
}