.advanced-search {
  border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
  border: 0px solid #000000 !important;
  background-color: #ffffff;
  padding: 3px;
  margin-bottom: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.advanced-search h5 {
  text-align: center;
  text-decoration: underline;
}

.advanced-search h6 {
  padding-top: 0.5rem;
  text-align: center;
}

.advanced-search-button {
  background-color: transparent;
}

.advanced-search-button:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border-color: #28a745;
  color: #28a745;
}
