.header-custom {
  background-color: #ffffff !important;
  // border-bottom: 2px solid #b5b5b4;
}

.header-main-container {
  width: 100%;
}

.header-search-form {
  flex-basis: 100%;
}

.header-search-form-input {
  width: 80% !important;
  border-radius: 0.25rem !important;
  background-color: #f1f3f4;
}