.nav-analytics {
  display: table-cell;
  vertical-align: middle;
  border: 3px solid bisque;
  width: 200px;
  height: 50px;
  border-radius: 7px;
  text-align: center;
  background: cornflowerblue;
}

.nav-analytics:hover {
  background: linear-gradient(to top, #fefcea, #f1da36);
}

.nav-link-custom {
  color: #091619;
}

.nav-link-custom:hover {
  text-decoration: none;
}
