.media-custom {
  border-radius        : 10px 10px 10px 10px !important;
  -moz-border-radius   : 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
  border               : 1px solid #dadce0 !important;
  background-color     : #ffffff;
  padding              : 10px;
  margin-bottom        : 10px;
}

.media-custom:hover {
  background-color     : #f7f7f7;
  // background-color     : #dfdfdf;
}

.media-custom:hover div {
  background-color     : #f7f7f7;
  // background-color     : #dfdfdf;
}

.media-custom h5 {
  cursor: pointer
}

.media-custom .badge {
  font-size: 100%;
}

.media-attributes {
  color: #4f4f4f;
}

.col-div {
  // background-color: white;
  // border-radius: 10px;
  padding: 5px;
}

.col-div  p {
  // display: inline !important;
  // margin-left: 5px;
  color: darkgray !important;
  margin-bottom: 0;
}

.media-header {
  color: #202124;
  margin-top: 0.3rem;
  margin-bottom: 0.0rem;
  background-color: #ffffff;
}

.media-header:hover {
  cursor: pointer;
  text-decoration: underline;
}

.col-media-item-image img {
  width: 170px;
  border-radius: 10px;
}

@media screen and (max-width: 1800px) {
  .col-media-item-image img {
    max-width: 160px;
  }
}

@media screen and (max-width: 1700px) {
  .col-media-item-image img {
    max-width: 145px;
  }
}

@media screen and (max-width: 1600px) {
  .col-media-item-image img {
    max-width: 130px;
  }
}

@media screen and (max-width: 1500px) {
  .col-media-item-image img {
    max-width: 125px;
  }
}

@media screen and (max-width: 1400px) {
  .col-media-item-image img {
    max-width: 115px;
  }
}

@media screen and (max-width: 1300px) {
  .col-media-item-image img {
    max-width: 105px;
  }
}

.short-news-text {
  display: inline;
}

.short-news-text em {
  background-color: yellow;
}

.source-publ a:hover{
  color: #17a2b8;
  text-decoration: underline;
}
