.saved-queries-admin {
  border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
  border: 0px solid #000000 !important;
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.saved-queries-admin h5 {
  text-align: center;
}

.saved-queries-admin h6 {
  text-align: center;
}

.saved-queries-admin-button {
  background-color: transparent;
}

.saved-queries-admin-button:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border-color: #28a745;
  color: #28a745;
}

.disabled-el {
  pointer-events: none;
  opacity: 0.5;
}

.default-query-text-full-switcher {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}
