.saved-queries {
  margin-right: 25px;
}

.saved-queries .dropdown-menu {
  min-width: 45em;
  padding: 0.7em;
}

.header-save-query-input .form-control {
  border-width: 1px;
  border-radius: 0.25rem;
}