.news-modal-custom {
  font-size: 1.1rem;
}

.news-modal-custom .modal-content {
  // border-radius        : 10px 10px 10px 10px !important;
  // -moz-border-radius   : 10px 10px 10px 10px !important;
  // -webkit-border-radius: 10px 10px 10px 10px !important;
  // border               : 0px solid #000000 !important;
  background-color     : #f4f2f1;
  // padding              : 10px;
  // margin-bottom        : 10px;
  font-family: Ubuntu;
}

.video-div {
  text-align: center;
}

.image-media {
  float: left;
  padding: 0 15px 5px 0;
}

.show-youtube-btn {
  margin-bottom: 20px;
}

.news-text {
  display: inline !important;
}

.news-text em {
  background-color: yellow;
}

.news-text-full-switcher {
  margin-left: 10px;
  cursor: pointer;
}

.news-text-wrapper {
  text-align: justify;
}